<app-navbar></app-navbar>

<div class="topics">
    <mat-card>
        <div class="items mt2">
            <mat-card class="item" *ngFor="let topic of (topics$ | async)">
                <mat-card-title>{{ topic.title }}</mat-card-title>
                <mat-card-content>
                    <p>Description: {{ topic.description }}</p>
                </mat-card-content>
                <button mat-raised-button (click)="subscribe(topic.id)" [disabled]="isSubscribed(topic.id)">
                    {{ isSubscribed(topic.id) ? 'Abonné' : 'S\'abonner' }}
                </button>

            </mat-card>
        </div>
    </mat-card>
</div>