<mat-card class="comments-area">
    <mat-card-header>
        <mat-card-title>Commentaires</mat-card-title>
    </mat-card-header>

    <mat-card-content class="comments">
        <div class="items mt2">
            <mat-card class="item" *ngFor="let comment of comments">
                <mat-card-header>
                    <mat-card-title>{{ comment.username }}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="content">
                    <p>{{ comment.description }}</p>
                </mat-card-content>
            </mat-card>
        </div>


        <div class="new-comment-form">
            <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <mat-form-field floatLabel="never">
                <textarea matInput formControlName="description" rows="5"
                    placeholder="Écrivez ici votre commentaire"></textarea>
            </mat-form-field>
            <button mat-icon-button color="primary" [disabled]="commentForm.invalid || isSubmitting">
                <mat-icon>send</mat-icon>
            </button>
            </form>
        </div>


    </mat-card-content>
</mat-card>