<mat-toolbar class="custom-navbar" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="navbar-logo" routerLink="/">
      <img src="/assets/logo_p6.png" alt="logo" />
    </span>
  </mat-toolbar>
  
  <div class="back-arrow" routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </div>
  
  <div class="login" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Se connecter</mat-card-title>
      </mat-card-header>
      <form class="login-form" [formGroup]="form" (ngSubmit)="submit()" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <div class="custom-form-field" fxFlex>
            <label for="email">E-mail ou nom d’utilisateur</label>
            <input matInput id="email" formControlName="email" />
          </div>
          <div class="custom-form-field" fxFlex>
            <label for="password">Mot de passe</label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              id="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </div>
        </mat-card-content>
        <button class="custom-button" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          Se connecter
        </button>
        <p *ngIf="onError" class="error">An error occurred</p>
      </form>
    </mat-card>
  </div>  