<app-navbar></app-navbar>

<div class="article-form" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="article" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Créer un article</mat-card-title>
        <mat-card-content>
            <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">

                <mat-form-field>
                    <mat-label>Titre de l'article</mat-label>
                    <input matInput formControlName="title" placeholder="Titre de l'article">
                    <mat-error *ngIf="articleForm.get('title')?.hasError('required')">
                        Le titre est requis.
                    </mat-error>
                    <mat-error *ngIf="articleForm.get('title')?.hasError('maxlength')">
                        Le titre ne peut pas dépasser 50 caractères.
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Thème</mat-label>
                    <mat-select formControlName="themeId">
                        <mat-option *ngFor="let topic of topics" [value]="topic.id">{{ topic.title }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="articleForm.get('themeId')?.hasError('required')">
                        Le thème est requis.
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" placeholder="Description de l'article"></textarea>
                    <mat-error *ngIf="articleForm.get('description')?.hasError('required')">
                        La description est requise.
                    </mat-error>
                    <mat-error *ngIf="articleForm.get('description')?.hasError('maxlength')">
                        La description ne peut pas dépasser 5000 caractères.
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" [disabled]="articleForm.invalid || isSubmitting">
                    {{ isSubmitting ? 'Création...' : 'Créer' }}
                </button>

            </form>
        </mat-card-content>
    </mat-card>
</div>