<div class="articles-btn">
    <button mat-raised-button [routerLink]="'/article/new'">
        Créer un article
    </button>
    <div class="sort-button">
        <button mat-icon-button (click)="toggleSortOrder()">
          Trier par date
          <mat-icon>{{ sortOrder === 'desc' ? 'arrow_downward' : 'arrow_upward' }}</mat-icon>
        </button>
      </div>
</div>

<div class="articles">
    <mat-card>
        <div class="items mt2">
            <mat-card class="item" *ngFor="let article of (articles$ | async)" (click)="goToArticle(article.id)">
                <mat-card-title>{{ article.title }}</mat-card-title>
                <mat-card-content>
                    <div class="article-info">
                    <span class="description-label">{{ article.createdAt }}</span>
                    <span class="description-label">{{ article.themeName }}</span>
                </div>
                    <p>Content : {{ article.description }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card>
</div>