<div>
    <button mat-raised-button color="primary" [routerLink]="'/article/new'">
        + Créer un article
    </button>
</div>

<div class="articles">
    <mat-card>
        <div class="items mt2">
            <mat-card class="item" *ngFor="let article of (articles$ | async)" (click)="goToArticle(article.id)">
                <mat-card-title>{{ article.title }}</mat-card-title>
                <mat-card-content>
                    <span class="description-label">{{ article.createdAt }}</span>
                    <span class="description-label">{{ article.themeName }}</span>
                    <p>Content : {{ article.description }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card>
</div>