.custom-navbar {
    background-color: transparent !important; 
    border-bottom: 1px solid black; 
    width: 100%; 
    padding: 50px 20px;
    box-sizing: border-box;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    height: 100px; 
    margin-bottom: 5px; 
    margin-top: 5px; 
  }  
  
  .navbar-links {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    flex-grow: 1; 
    gap: 2%;
  }
  
  .navbar-links .link {
    text-decoration: none; 
    color: black; 
    font-size: 16px; 
    font-weight: 500; 
    cursor: pointer;
  }

  .navbar-links .active-link {
    color: #7763C5;
  }
 
  
  .user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #ccc; 
    border-radius: 50%; 
    cursor: pointer;
  }
  
  .user-icon img {
    width: 50%; 
    height: auto;
  }

  .user-icon.active {
    border: 2px solid #7763C5;
  }
  
  .user-icon.active img {
    filter: invert(25%) sepia(100%) saturate(500%) brightness(80%) hue-rotate(220deg) contrast(2);
  }  
  
  